<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MelhorAjuda - Psicólogo ideal em 2 minutos</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href= "favicon.svg" type="image/svg+xml">

  <!--
    - custom css link
  -->
  <link rel="stylesheets" href="_home.scss">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap"
    rel="stylesheets">
</head>

<body id="top">

  <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <%= image_tag "logo.svg", alt:"logo" %>
      </a>

      <button class="nav-toggle-btn" data-nav-toggle-btn>
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
      </button>

      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list">

            <li>
              <a href="#home" class="navbar-link" data-navbar-link>Home</a>
            </li>

            <li>
              <a href="#features" class="navbar-link" data-navbar-link>Como funciona</a>
            </li>

            <li>
              <a href="#service" class="navbar-link" data-navbar-link>Valores</a>
            </li>

            <li>
              <a href="#blog" class="navbar-link" data-navbar-link>Avaliações</a>
            </li>



          </ul>
        </div>
      </nav>

      <button class="btn btn-secondary">
        <span>Começar</span>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!--
        - #HERO
      -->

      <section class="hero" id="home">

        <%= image_tag "shape1.png", alt: "Illustration art", class: "shape shape-1" %>
        <%= image_tag "shape3.png", alt: "Illustration art", class: "shape shape-3" %>

        <div class="container">

          <figure class="hero-banner">
            <%= image_tag "hero-banner.png", alt:"Illustration art", loading:"lazy", class:"w-100" %>
          </figure>

          <div class="hero-content">

            <h2 class="h1 hero-title">O seu psicólogo ideal em 2 minutos</h2>

            <p class="section-text">
              Nossa inteligência artificial combina suas respostas
              com as especialidades dos nossos psicólogos e apresenta o profissional mais bem preparado
              para o seu caso específico em 2 minutos.
            </p>

            <button class="btn btn-primary">
              <span>Encontrar meu psicólogo</span>

              <ion-icon name="chevron-forward-outline"></ion-icon>
            </button>

          </div>

        </div>

      </section>





      <!--
        - #FEATURES
      -->

      <section class="features" id="features">
        <div class="container">

          <p class="section-subtitle">Você é único. Seu psicólogo também.</p>

          <h2 class="h2 section-title">Mudamos a forma de procurar terapia</h2>

          <ul class="features-list">

            <li>
              <div class="features-card">

                <div class="card-icon">
                  <%= image_tag "features-icon-1.png", alt: "Illustration icon" %>
                </div>

                <h3 class="h3 card-title">Formulário rápido</h3>

                <p class="card-text">
                  Acreditamos que o processo de busca por terapia tem que ser <b>rápida</b> e <b>simples</b>.
                </p>



                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="features-card">

                <div class="card-icon">
                  <%= image_tag "features-icon-2.png", alt: "Illustration icon" %>
                </div>

                <h3 class="h3 card-title">Interface fácil de usar</h3>

                <p class="card-text">
                  Criamos uma plataforma moderna e <b>super intuitiva</b> para os atendimentos.
                </p>



                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="features-card">

                <div class="card-icon">
                  <%= image_tag "features-icon-3.png", alt: "Illustration icon" %>
                </div>

                <h3 class="h3 card-title">Você no poder</h3>

                <p class="card-text">
                  Seu prontuário está <b>sempre atualizado</b>. Você pode compartilhar com seu psiquiatra, caso necessário.
                </p>

              </div>
            </li>

            <li>
              <div class="features-card">

                <div class="card-icon">
                  <%= image_tag "features-icon-4.png", alt: "Illustration icon" %>
                </div>

                <h3 class="h3 card-title">Ambiente seguro</h3>

                <p class="card-text">
                  Nossa plataforma é <b>extremamente confiável</b>. Seus dados estão seguros com a gente.
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!--
        - #SERVICE
      -->

      <section class="service" id="service">
        <div class="container">

          <figure class="service-banner">
            <%= image_tag "service-1.png", alt: "Illustration art", loading: "lazy", class:"w-100" %>
          </figure>

          <div class="service-content">

            <p class="section-subtitle">Somos o Melhor Ajuda</p>

            <h2 class="h2 section-title">Juntamos a tecnologia com o cuidado</h2>

            <ul class="service-list">

              <li class="service-item">

                <div class="service-item-icon">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>

                <h3 class="h3 service-item-title">Primeira sessão marcada em 2 minutos</h3>

              </li>

              <li class="service-item">

                <div class="service-item-icon">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>

                <h3 class="h3 service-item-title">Atendimento via App</h3>

              </li>

              <li class="service-item">

                <div class="service-item-icon">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>

                <h3 class="h3 service-item-title">Vasta base de psicólogos </h3>

              </li>

              <li class="service-item">

                <div class="service-item-icon">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>

                <h3 class="h3 service-item-title">Terapia que cabe no bolso</h3>

              </li>

            </ul>

          </div>

          <figure class="service-banner">
            <%= image_tag "service-2.png", alt: "Illustration art", loading:"lazy", class: "w-100" %>
          </figure>

          <div class="service-content">

            <p class="section-subtitle">Nós cuidamos de tudo para que você</p>

            <h2 class="h2 section-title">Foque no que realmente importa</h2>

            <ul class="service-list">

              <li class="service-item">

                <div class="service-item-icon">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>

                <h3 class="h3 service-item-title">Ferramentas de auto-conhecimento </h3>

              </li>

              <li class="service-item">

                <div class="service-item-icon">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>

                <h3 class="h3 service-item-title">Maior compatibilidade entre psicólogo/paciente</h3>

              </li>

              <li class="service-item">

                <div class="service-item-icon">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>

                <h3 class="h3 service-item-title">Assinatura via Cartão de crédito</h3>

              </li>

              <li class="service-item">

                <div class="service-item-icon">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </div>

                <h3 class="h3 service-item-title">Metodologia 100% comprovada</h3>

              </li>

            </ul>

          </div>

        </div>
      </section>





      <!--
        - #BLOG
      -->

      <section class="blog" id="blog">
        <div class="container">

          <p class="section-subtitle">Maior índice de aprovação do Brasil</p>

          <h2 class="h2 section-title">Média 4.9 de avaliação dos nossos pacientes</h2>

          <ul class="blog-list">

            <li>
              <div class="blog-card">

                <figure class="blog-banner">
                  <a href="#">
                    <%= image_tag "blog-1.jpg", alt:"How is tthings?", loading: "lazy", class: "w-100" %>
                  </a>
                </figure>

                <div class="blog-content">

                  <ul class="blog-meta-list">

                    <li class="blog-meta-item">
                      5<ion-icon name="star"></ion-icon>

                      <a href="#" class="blog-meta-link">Revolucionário</a>
                    </li>

                  </ul>

                  <h3 class="h3 blog-title">
                    <a href="#">Um amigo me recomendou, dei uma chance e o Melhor Ajuda mudou a minha vida. Sem palavras para agradecer ao time! - <b>Ana Farias, RS</b></a>
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="blog-banner">
                  <a href="#">
                    <%= image_tag"blog-2.jpg", alt: "Top 10 ifesign", loading: "lazy", class: "w-100" %>
                  </a>
                </figure>

                <div class="blog-content">

                  <ul class="blog-meta-list">

                    <li class="blog-meta-item">
                      4,9<ion-icon name="star"></ion-icon>

                      <a href="#" class="blog-meta-link">Super fácil de usar</a>
                    </li>
                  </ul>

                  <h3 class="h3 blog-title">
                    <a href="#">Eu tinha receios, mas logo na minha primeira sessão meu terapeuta me deixou super a vontade. Não largo mais. - <b> Anderson Lima, RJ</b></a>
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="blog-banner">
                  <a href="#">
                    <%= image_tag "blog-3.jpg", alt:"Horent ways", loading:"lazy", class: "w-100" %>
                  </a>
                </figure>

                <div class="blog-content">

                  <ul class="blog-meta-list">

                    <li class="blog-meta-item">
                      5 <ion-icon name="star"></ion-icon>

                      <a href="#" class="blog-meta-link">Simples assim?</a>
                    </li>

                    <li class="blog-meta-item">
                    </li>

                  </ul>

                  <h3 class="h3 blog-title">
                    <a href="#">Nunca tinha feito terapia online. O Melhor Ajuda me ajudou a ter o melhor atendimento de forma super simples e ainda economizo 50%. Adorei! - <b>Patricia Pillar, SP</b></a>
                  </h3>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

<!--
        - #INSTRUCTOR
      -->

      <section class="instructor">
        <div class="container">

          <%= image_tag "instructor-vactor-1.svg", alt:"Vector line art", class:"vector-line" %>
          <div class="title-wrapper">
            <h2 class="h2 instructor-title">Conheça alguns dos nossos psicólogos</h2>

            <button class="btn btn-primary">Especialistas em todos campos</button>
          </div>

          <ul class="instructor-list">

            <li>
              <div class="instructor-card">

                <figure class="card-banner">
                  <%= image_tag "instructor-1.png", alt: "Shaapir Prio" %>
                </figure>

                <a href="#">
                  <h3 class="card-title">Roberto Campos</h3>
                </a>

                <p class="card-subtitle">Especialista em </p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-google"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li>
              <div class="instructor-card">

                <figure class="card-banner">
                  <%= image_tag "instructor-2.png", alt: "Sellina" %>
                </figure>

                <a href="#">
                  <h3 class="card-title">Fernanda Almeida</h3>
                </a>

                <p class="card-subtitle">Especialista em </p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-google"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li>
              <div class="instructor-card">

                <figure class="card-banner">
                  <%= image_tag "instructor-3.png", alt: "André Souza" %>
                </figure>

                <a href="#">
                  <h3 class="card-title">André Souza</h3>
                </a>

                <p class="card-subtitle">Especialista em </p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-google"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

          </ul>

          <%= image_tag "instructor-vactor-2.svg", alt:"Vector line art", class:"vector-line" %>

        </div>
      </section>







      <!--
        - #NEWSLETTER
      -->

      <section class="newsletter" id="newsletter">
        <div class="container">

          <figure class="newsletter-banner">
            <%= image_tag "newsletter.png", alt:"Illustration art", loading:"lazy", class:"w-100" %>
          </figure>

          <div class="newsletter-content">

            <p class="section-subtitle">Assine nossa newsletter</p>

            <h2 class="h2 section-title">Toda semana textos sobre autoconhecimento</h2>

            <form action="" class="newsletter-form">
              <input type="email" name="email" required placeholder="Seu melhor email" class="input-field">

              <button type="submit" class="btn btn-primary">
                <span>Assinar</span>

                <ion-icon name="chevron-forward-outline"></ion-icon>
              </button>
            </form>

          </div>

        </div>
      </section>

    </article>
  </main>





  <!--
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <%= image_tag "logo.svg", alt:"logo" %>
          </a>

          <p class="section-text">
            Lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            minim.
          </p>

          <div class="location-text">
            <div class="location-icon">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="address">
              Rua Jericó, 193 - Vila Madalena
            </address>
          </div>

        </div>

        <div class="quicklink-box">
          <p class="h3 quicklink-title">Links rápidos</p>

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink">Quem somos</a>
            </li>

            <li>
              <a href="#" class="quicklink">Nosso timea>
            </li>

            <li>
              <a href="#" class="quicklink">Como funciona</a>
            </li>

            <li>
              <a href="#" class="quicklink">Valores</a>
            </li>



            <li>
              <a href="#" class="quicklink">Faça parte do nosso time</a>
            </li>



          </ul>
        </div>

        <div class="contact">
          <p class="h3 contact-title">Contato</p>

          <ul class="contact-list">

            <li class="contact-item">
              <div class="contact-icon">
                <ion-icon name="mail-outline"></ion-icon>
              </div>

              <a href="mailto:quero@melhorajuda.com.br" class="contact-link">quero@melhorajuda.com.br</a>
            </li>

            <li class="contact-item">
              <div class="contact-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <a href="tel:+14854560102" class="contact-link">11 2435-0987</a>
            </li>

          </ul>
        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="#">MelhorAjuda</a>. All Rights Reserved
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

  </footer>





  <!--
    - #GO TO TOP
  -->

  <a href="#top" class="go-top active" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>





  <!--
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
