<!DOCTYPE html>
<html>
  <head>
    <title>MelhorAjuda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="app/assets/stylesheets/components/animate.min.css">
    <link rel="stylesheet" href="app/assets/stylesheets/components/bootstrap.min.css">
    <link rel="stylesheet" href="app/assets/stylesheets/components/jquery.page.css">
    <link rel="stylesheet" href="app/assets/stylesheets/components/style-dist.css">
    <link rel="stylesheet" href="app/assets/stylesheets/components/style.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

       <!-- jQuery-js include -->
   <script src="/app/javascript/plugins/jquery-3.6.0.min.js"></script>
   <!-- Bootstrap-js include -->
   <script src="/app/javascript/plugins/bootstrap.min.js"></script>
   <!-- jQuery-validate-js include -->
   <script src="/app/javascript/plugins/jquery.validate.min.js"></script>
   <!-- Custom-js include -->
   <script src="/app/javascript/plugins/script.js"></script>
  </body>
</html>
