<!DOCTYPE html>
<html>
  <head>
    <title>MelhorAjuda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <!-- jQuery-js include -->
    <script src="jquery-3.6.0.min.js"></script>
    <!-- Bootstrap-js include -->
    <script src="bootstrap.min.js"></script>
    <!-- jQuery-validate-js include -->
    <script src="jquery.validate.min.js"></script>
    <!-- Custom-js include -->
    <script src="form.js"></script>
  </body>
</html>
